<div class="container">


  <div class="row gap-5 centro center">
    <div cdkDropList
      class="col-3 container-drop"
      #ln1="cdkDropList"
      [cdkDropListData]="listNumbers1"
      [cdkDropListConnectedTo]="[ln2]"
      (cdkDropListDropped)="drop($event)">
      <div class="tools">
        <div class="circle">
          <span class="blue box"></span>
        </div>
        <h2>Asignados</h2> 
      </div>
     
      <div cdkDrag class="cards" *ngFor="let n of listNumbers1">
        <div class="card blue">
          <p class="tip">{{n.title}}</p>
          <p class="second-text">Lorem Ipsum</p>
      </div>
      </div>
    </div>
    <div cdkDropList
      class="col-3 container-drop"
      #ln2="cdkDropList"
      [cdkDropListData]="listNumbers2"
      [cdkDropListConnectedTo]="[ln1,ln3]"
      (cdkDropListDropped)="drop($event)">
      <div class="tools">
        <div class="circle">
          <span class="yellow box"></span>
        </div>
        <h2>En Proceso</h2>
      </div>


     
      <div cdkDrag class="cards" *ngFor="let n of listNumbers2">
        <div class="card yellow">
          <p class="tip">{{n.title}}</p>
          <p class="second-text">Lorem Ipsum</p>
      </div>
      </div>
    </div>
  
    <div cdkDropList
    class="col-3 container-drop"
    #ln3="cdkDropList"
    [cdkDropListData]="listNumbers3"
    [cdkDropListConnectedTo]="[ln2]"
    (cdkDropListDropped)="drop($event)">
    <div class="tools">
  
      <div class="circle">
        <span class="green box"></span>
      </div>

      <h2>Culminados</h2>
    </div>


    
    <div cdkDrag class="cards" *ngFor="let n of listNumbers3">
      <div class="card green">
        <p class="tip">{{n.title}}</p>
        <p class="second-text">Lorem Ipsum</p>
    </div>
    </div>
  </div>
  </div>

</div>



